/bin/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.project

.idea/uiDesigner.xml
IntelliLang.xml
misc.xml
copilot.data.migration.ask2agent.xml
workspace.xml
